@{
    ViewData["Title"] = "NotFound";
}

<style>
    .container {
        margin: auto auto;
        text-align: center;
    }
</style>

<div class="container">
    <br/>
    <img src="~/images/error.png"/>
    <h2>La página que busca no se puede encontrar.</h2>
</div>
