@{
    ViewData["Title"] = "NotAuthorized";
}

<style>
    .container {
        margin: auto auto;
        text-align: center;
    }
</style>

<div class="container">
    <br />
    <img src="~/images/error.png" />
    <h2>No está autorizado para realizar esta acción.</h2>
</div>
